.color-1 {
    color:red;
}

/* RGB */
/* 00-ff */
.color-2 {
    /* color: #480082; */
    color: #ff0000;
}

.color-3 {
    color: #000;
}

/* 0-255 */
.color-4 {
    color: rgb(255, 0, 0);
    opacity: 0.5;
}

.color-5 {
    color: rgba(255, 255, 0, 0.5);
}